*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --font-primary: "Poppins", sans-serif;

    --color-primary-red: hsl(0, 78%, 62%);
    --color-primary-cyan: hsl(180, 62%, 55%);
    --color-primary-orange: hsl(34, 97%, 64%);
    --color-primary-blue: hsl(212, 86%, 64%);
    
    --color-neutral-grey-500: hsl(234, 12%, 34%);
    --color-neutral-grey-400: hsl(212, 6%, 44%);
    --color-neutral-white: hsl(0, 0%, 100%);
    --shadow-main: 0 15px 30px -10px hsla(234, 12%, 34%, 0.2); 
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 2rem;
    font-size: 15px;
    line-height: 1.6;
    background-color: var(--color-neutral-white);
    font-family: var(--font-primary);
}

header{
    text-align: center;
    max-width: 540px;
}

header h1{
    color: var(--color-neutral-grey-400);
    font-weight: 200;
    font-size: 1.5rem;
    
}
header h2{
    color: var(--color-neutral-grey-500);
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
header p{
    text-align: center;
    font-weight: 400;
    font-size: 0.98rem;
    letter-spacing: normal;
}


.container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: left;
    width: 100%;
    max-width: 375px;
}

.card{
    background-color: var(--color-neutral-white);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow:var(--shadow-main);
    transition: transform 0.3s ease, background 0.3s ease;
    position: relative;
    min-height: 230px;
}
.card p{
    color: var(--color-neutral-grey-400);
    margin-bottom: 2rem;
    font-size: 0.9rem;
    line-height: 1.7;
}
.card:hover{
    transform: scale(1.03);
}

.card-title{
    color: var(--color-neutral-grey-500);
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.icon{
    position: absolute;
    bottom: 25px;
    right: 30px;
    width: 64px;
    height: auto;
}


.supervisor{
    border-top: 5px solid var(--color-primary-cyan);
}
.team-builder{
    border-top: 5px solid var(--color-primary-red);
}
.karma{
    border-top: 5px solid var(--color-primary-orange);

}
.calculator{
    border-top: 5px solid var(--color-primary-blue);
}


@media (min-width: 1000px) {
    header{
        margin-bottom: 2rem;
    }
    header h1, header h2{
        font-size: 2.25rem;
    }
    header p{
        max-width: 500px;
        margin: 0 auto;
    }
  
    .container{
        max-width: 1110px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,minmax(250px, auto));
        gap: 30px;
    }
    .supervisor{
        grid-column: 1 / 2;
        grid-row: 1/ 3;
        align-self: center;
    }
    .team-builder{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .karma{
        grid-column: 3/2;
        grid-row: 2/3;
    }
    .calculator{
        grid-column: 3/4;
        grid-row: 1/3;
        align-self: center;
    }
}



