*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
}


.qr-card{
    width: 100%;
    max-width: 375px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding:  1rem;
}


img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1.5rem;
}


.qr-content{
    padding: 0 1rem 1rem;
}

h1{
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
    color: hsl(218, 44%, 22%);
}
p{
    font-size: 0.9rem;
    text-align: center;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}

@media (min-width:1440px) {
    .qr-card{
        max-width: 400px;
    }
    .qr-content{
        padding: 1.5rem;
        font-size: 1.5rem;
    }
    
}
