:root {
  --font: "Manrope", sans-serif;
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--light-grayish-blue);
  padding: 1rem;
  line-height: 1.5;
}
main {
  max-width: 400px;
  width: 100%;
}
.container {
  border-radius: 10px;
  background-color: white;
  position: relative;
}
.image {
  display: block;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.container-info {
  padding: 23px;
}
h2 {
  margin-bottom: 1rem;
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
  font-size: 18px;
}
.container-info p {
  color: var(--desaturated-dark-blue);
  font-weight: 500;
  font-size: 14px;
}
.profil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 23px;
  padding-bottom: 20px;
}
.container-flex {
  display: flex;
  align-items: center;
  gap: 15px;
}
.avatar {
  border-radius: 50%;
  width: 45px;
}
.share-btn,
.active-btn {
  background: none;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.share-btn {
  background-color: var(--light-grayish-blue);
}
.share-btn:hover {
  background-color: var(--desaturated-dark-blue);
}
.share-btn:hover .icon {
  filter: brightness(0) invert(1);
}
.active-btn {
  background-color: var(--desaturated-dark-blue);
}
.active-share-btn a:hover {
  opacity: 0.8;
}
.icon,
.active-icon {
  width: 15px;
}
.author-name {
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}
.article-date {
  color: var(--grayish-blue);
  font-weight: 500;
  font-size: 13px;
}

/* ACTIVE BUTTON */
.active-share-btn {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-dark-grayish-blue);
  padding: 1.5rem 23px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 10;
}

.active-share-btn p {
  color: var(--grayish-blue);
  letter-spacing: 4px;
  font-weight: 500;
  font-size: 13px;
}
.active-share-btn .container-flex {
  gap: 15px;
}
.active-share-btn a {
  display: flex;
}
.active-btn {
  background: none;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 20px;
}

.display {
  display: flex;
}

@media (min-width: 1000px) {
  body {
    padding: 0;
  }
  main {
    max-width: 55%;
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: auto;
  }
  .image {
    width: 45%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
  }
  .container-info {
    flex: 1;
  }
  h2 {
    font-size: 24px;
  }

  .active-share-btn {
    position: absolute;
    bottom: 70px;
    right: 0;
    left: auto;
    transform: translateX(30%);
    background-color: var(--very-dark-grayish-blue);
    padding: 12px 25px;
    border-radius: 10px;
  }

  .active-share-btn::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: var(--very-dark-grayish-blue) transparent transparent
      transparent;
  }
  .active-btn {
    display: none;
  }

  .display {
    display: flex;
  }
}
